article {
	p, ul, ol, h1, h2, h3, h4, h5, blockquote, figcaption {
	    padding: 0 0.9375rem;
	}
	ul, ol {
		margin-left: 1.5rem;
	}
	th, td {
		text-align: left;
		padding: 1rem 0;
	}
	table {
		font-size: .875rem;
		width: 100%;
		overflow-x: auto;   /* Scrollbar is displayed as it's needed */
		word-wrap:break-word;
		caption {
			background: #000;
			color: #fff;
			font-weight: bold;
			padding: 1rem 0;
			text-align: center;
			text-transform: uppercase;
			.details {
				text-transform: none;
				margin-top: .5rem;
				display: block;
				font-size: .875rem;
				font-weight: 100;
			}
		}
	}
	.table-striped>tbody>tr:nth-child(odd)>td, 
	.table-striped>tbody>tr:nth-child(odd)>th {
		background-color: #f6f7f8; 
	}
}
article.b {
    padding: 0 0.9375rem;
}
article, article.b {
	padding-bottom: 4rem;

	/* headings */
	h1 {
		font-size: 1.675rem;
		line-height: 1.2;
		font-weight: 800;
		margin-top: 0rem;
		margin-bottom: 1rem;
		text-align: center;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 800;
		margin: 3.5rem 0 1rem 0;
		line-height: 1.5;
	}
	h3 {
		font-size: 1.25rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 1.5;
		margin: 2rem 0 1rem 0;
	}
	h4 {
		font-size: 1rem;
		margin: 1.5rem 0 0 0;
		color: #44464f;
		font-weight: 600;
	}
	hr {
		border: solid #DDDDDD;
	    border-width: 1px 0 0;
	    clear: both;
	    height: 0;
	    margin: 0 auto 2rem auto;
	    width: 10%;
	}

	// figures
	.image-credit {
		color: #999;
		font-size: 12px;
		display: block; 
	}
	figure.graph {
		max-width: 70%;
		margin: 30px auto;
	}
	.drop-cap {
		font-size: 2.5rem;
		float:left;
		margin: .5rem 1rem 0 0;
		font-weight: 800;
		padding: .675rem 1.5rem;
		border: solid 1px #ccc;
		background: #F4F5F7;
	}
	figcaption {
		margin-top: 1rem;
	}

	.note {
		color: #747680;
		font-size: 1rem;
	}

	.listen-while-you-read {
		margin: 10px 0 50px 0;
		p {
			font-size: 16px;
		}
	}

	// logline styling
	.logline {
		margin-top: 20px;
		padding-bottom: 20px;
		border-bottom: solid 1px #CCC;
		&::last-child {
			border-bottom: none;
		}
		h3 {
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
	.meta {
		font-size: 1rem;
		margin: 0;
	}
}

// medium screen size up
@media (min-width: 600px ) {
	article.b {
	    max-width: 45rem;
	    width: 100%;
	    margin: 0 auto 3rem auto;
	}
	article {
		p, ul, ol, h1, h2, h3, h4, h5, figcaption, table {
		    padding: 0;
		}
		p, ul, ol, h1, h2, h3, h4, h5, blockquote, table {
			max-width: 45rem;
		    width: 100%;
		    margin: 0 auto 1.5rem auto;
		}
		ul, ol {
			max-width: 42.5rem;
		}
		figcaption {
			margin: 1rem auto 1.5rem auto;
		}
	}
	article, article.b {
		th, td {
			text-align: left;
			padding: 1rem .5rem;
		}
		.article-title {
			font-size: 2.675rem;
		}
		h1 {
			font-size: 2.675rem
		}
		h3, h2 {
			margin: 3.5rem auto 1rem auto;
		}
		h4 {
			font-size: 1.25rem;
			margin: 2rem auto 0 auto;
			color: #44464f;
			font-weight: 600;
		}
		.drop-cap {
			font-size: 3rem;
			padding: 1rem 2rem;
		}
		blockquote {
			box-sizing: border-box;
		}
	}
}