#comments {
	table {
		background: none;
		border: none;
		font-family: sans-serif;
		th {
			font-size: 18px;
		}
	}
	.submit {
		background: #3300FF;
		padding: 14px;
		border: 0;
		color: #FFF;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: sans-serif;
	}
}