// top nav styling
.header-wrapper {
	padding-bottom: 4.5rem;
}
header {
	display: block;
	margin: 1rem 0 3rem 0;
}
.rtmup-headshot {
	float: right;
	margin: 0 0 1rem 1rem;
}

// top nav
.top-nav-desktop, .header {
	display: none;
}
.top-nav {
	background: #191b22;
	position: fixed;
	width: 100%;
	height: 155px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
	ul {
		margin: 0;
		text-align: right;
		li {
			list-style-type: none;
			text-transform: uppercase;
			display: block;
			margin: 0;
			text-align: center;
			.menu-link {
				border-bottom: solid 1px #fff;
				text-decoration: none;
				display: block;
				color: #fff;
				font-size: 1rem;
				float: left;
				width: 100%;
				padding: 0.8em;
				letter-spacing: 1px;
				&:hover {
					background: #FF3300;
				}
				&:active {
					background: #FF3300;
					color: #fff;
				}
			}
		}
	}
}
.site-logo {
	display: inline-block;
	text-align: center;
	font-weight: 400;
	font-size: .875rem;
	font-family: Montserrat;
	border: solid 1px #333;
	border-radius: 50%;
	line-height: 1.5;
	padding: .5rem;
	color: #333;
	&:hover {
		background: #333;
		border: solid 1px #333;
		color: #fff;
	}
}
.menu-wrapper {
	background: #F4F5F7;
	padding: 1rem 0.9375rem;
	border-bottom: solid 1px #ccc;
	margin-bottom: 2.5rem;
}
.main-menu-btn {
	text-transform: uppercase;
	float: right;
	display: block;
	text-align: center;
	background: none;
	margin: .5rem 0 0 0;
	color: #191b22;
	&:hover {
		text-decoration: none;
	}
}
.hamburger-icon {
	display: inline-block;
	margin-top: -3px;
	margin-left: .5rem;
	vertical-align: middle;
}

// top nav open/close positioning
.top-nav {
	top: -155px;
}
.top-nav.top-nav-open {
	top: 0px;
}

// body positioning on top nav open/close
.top-nav-push {
	overflow-x: hidden;
	position: relative;
	top: 0;
}
.top-nav-push-down {
	top: 155px;
}

/* Transitions */
.top-nav,
.top-nav-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media (min-width: 600px ) {
	.top-nav-desktop {
		display: block;
		max-width: 45rem;
	    margin: 0 auto;
		width: 100%;
		ul {
			margin-top: 0rem;
			float: right;
			li {
				display: inline-block;
				margin: 0 .5rem;
				a {
					font-size: 1rem;
					padding: 0;
					color: #FF3300;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.site-logo {
		float: none;
		color: #FF3300;
		border: solid 1px #FF3300;
		&:hover {
			background: #FF3300;
			border-color: #FF3300;
			color: #fff;
		}
	}
	.site-logo-inside {
		margin-top: 0;
	}
	.header {
		display: block;
	}
}