---
layout: default
---

<section class="article-section">
	<h1>Ascents</h1>
	<p class="page-description">Case studies and photo essays of treks, climbs and expeditions</p>
	<ul class="article-list">
		{% for ascents in site.categories.ascents %}
		<li>
			<h2><a href="{{ ascents.url }}">{{ ascents.title }}</a></h2>
			<p class="description">{{ ascents.description }}</p>
			<p class="meta">Posted: {{ ascents.date | date: '%B %d, %Y' }} 
			{% for tag in ascents.tags %}
			{% capture tag_name %}{{ tag }}{% endcapture %}
			<span class="topics">•
				<a href="/tags/{{ tag_name }}">
				{{ tag_name }}
				</a>
			</span>
			{% endfor %}
			</p>
		</li>
		{% endfor %}
	</ul>
	<a href="{{ site.github.url }}/index.html" class="view-all">
	Back to home</a>
</section>