<nav class="top-nav" id="top-nav">
	<ul class="nav">
		<li>
			<a href="{{ site.github.url }}/training" class="{% if page.url == '/training' %}current{% endif %} menu-link">Training</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/nutrition" class="{% if page.url == '/nutrition' %}current{% endif %} menu-link">Nutrition</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/gear" class="{% if page.url == '/gear' %}current{% endif %} menu-link">Gear</a>
		</li>
		<li>
			<a href="{{ site.github.url }}/ascents" class="{% if page.url == '/ascents' %}current{% endif %} menu-link">Ascents</a>
		</li>
	</ul>
</nav>