<nav class="top-nav-desktop">
	<a href="{{ site.url }}" class="{% if page.url == '/index' %}current{% endif %}"><span class="site-logo site-logo-inside">Summit Goals</span></a>
	<ul class="nav">
		<li>
			<a href="{{ site.url }}/training" class="{% if page.url == '/training' %}current{% endif %}">Training</a>
		</li>
		<li>
			<a href="{{ site.url }}/nutrition" class="{% if page.url == '/nutrition' %}current{% endif %}">Nutrition</a>
		</li>
		<li>
			<a href="{{ site.url }}/gear" class="{% if page.url == '/gear' %}current{% endif %}">Gear</a>
		</li>
		<li>
			<a href="{{ site.url }}/ascents" class="{% if page.url == '/ascents' %}current{% endif %}">Ascents</a>
		</li>
	</ul>
</nav>